.autocomplete {
  position: relative;
}

.autocomplete-input {
  padding: 6px 8px;
  border-radius: 4;
}

.autocomplete-label {
  margin-right: 8px;
}

.autocomplete-error {
  margin-top: 8px;
}

.autocomplete-result-board {
  top: calc(100% + 8px);
  padding: 0.50em;
  border: 1px solid lightgray;
  border-radius: 4px;
  position: absolute;
}

.autocomplete-result {
  margin: 0;
  margin-bottom: 0.25em;
  font-size: 75%;
}
